*.o
*.a
crazy_ivan
*.log
*.log.*
*.cc
*.pb.*
*_test
*_benchmark
heartbeat_scripts/*
heartbeat_scripts/*/*
*.pyc
scripts/*pb2.py
*.proto
src/*.proto
docs/_build/
.vagrant/
tests/tests
tests/netcat/udp_message_upd.txt
tests/netcat/scene_key.txt
pid.txt
*.pem
*.key
build.*
