# Use new trusty images, should yield newer compilers and packages
sudo: required
dist: trusty
language: cpp

addons:
  apt:
    sources:
    - ubuntu-toolchain-r-test
    packages:
    # Install GCC
    - gcc-5
    - g++-5
    # Install Python
    - python
    - python-dev
    - python-pip
    # Install LibSSL
    - libssl-dev
    # Install Protocol Buffer Compiler
    - protobuf-compiler
    - libprotobuf-dev
services:
  # Start up Docker
  - docker
before_install:
  - sudo unlink /usr/bin/gcc && sudo ln -s /usr/bin/gcc-5 /usr/bin/gcc
  - sudo unlink /usr/bin/g++ && sudo ln -s /usr/bin/g++-5 /usr/bin/g++
  # Print the version of gcc
  - gcc --version
  # Print the python & pip version
  - python -V
  - pip -V
  # Install python protocol buffer & zmq modules
  - sudo pip install protobuf pyzmq
  - pip install protobuf pyzmq
  - sudo pip install --user protobuf pyzmq
  # Get DVS Interfaces
  - git clone https://github.com/AO-StreetArt/DvsInterface.git
  - cd DvsInterface && sudo make install
install:
  - cd $TRAVIS_BUILD_DIR
  # Setup Consul
  - sudo docker pull consul
  - sudo docker run -d --name=registry consul
  # Set up Neo4j
  - sudo docker pull neo4j
  - sudo docker run -d --publish=7474:7474 --publish=7687:7687 --env=NEO4J_AUTH=none --volume=$HOME/neo4j/data:/data --name database neo4j
  # Set up Redis
  - sudo docker pull redis
  - sudo docker run --name cache -d redis
  # Populate Consul Configuration variables
  - sudo docker exec -t registry curl -X PUT -d 'cache--6379----2--5--0' http://localhost:8500/v1/kv/ivan/RedisConnectionString
  - sudo docker exec -t registry curl -X PUT -d 'neo4j://database:7687' http://localhost:8500/v1/kv/ivan/DB_ConnectionString
  - sudo docker exec -t registry curl -X PUT -d 'True' http://localhost:8500/v1/kv/ivan/StampTransactionId
  - sudo docker exec -t registry curl -X PUT -d 'True' http://localhost:8500/v1/kv/ivan/AtomicTransactions
  # Clone the repository for the python tests
  - cd $TRAVIS_BUILD_DIR
  - git clone https://github.com/AO-StreetArt/CrazyIvan_ProtoBufferTests.git
  # Compile the protocol buffer class for use with the Python tests
  - protoc -I=/usr/local/include/dvs_interface --python_out=CrazyIvan_ProtoBufferTests/src/ /usr/local/include/dvs_interface/Scene.proto
script:
  # Wait for some time to allow the docker instance to finish building
  - cd $TRAVIS_BUILD_DIR/scripts/linux && ./wait.sh
  # Start Crazy Ivan
  - ./run_docker_instance.sh $TRAVIS_BRANCH registry:8500 localhost 5555
  # Execute the Python Tests
  - cd $TRAVIS_BUILD_DIR/CrazyIvan_ProtoBufferTests && ./run_tests.sh
