# Use new trusty images, should yield newer compilers and packages
sudo: required
dist: trusty
language: cpp

sudo: required
addons:
  apt:
    sources:
    - ubuntu-toolchain-r-test
    packages:
    # Install GCC
    - gcc-5
    - g++-5
    # Install Python
    - python
    - python-dev
    - python-pip
    # Install LibSSL
    - libssl-dev
    # Install Protocol Buffer Compiler
    - protobuf-compiler
    - libprotobuf-dev
services:
  # Start up a Redis Server
  - redis-server
  # Start up Docker
  - docker
before_install:
  - sudo unlink /usr/bin/gcc && sudo ln -s /usr/bin/gcc-5 /usr/bin/gcc
  - sudo unlink /usr/bin/g++ && sudo ln -s /usr/bin/g++-5 /usr/bin/g++
  # Print the version of gcc
  - gcc --version
  # Print the python & pip version
  - python -V
  - pip -V
  # Install python protocol buffer & zmq modules
  - sudo pip install protobuf pyzmq
  - pip install protobuf pyzmq
  - sudo pip install --user protobuf pyzmq
  # Get DVS Interfaces
  - git clone https://github.com/AO-StreetArt/DvsInterface.git
  - cd DvsInterface && sudo make install
install:
  - cd $TRAVIS_BUILD_DIR
  # Setup Consul
  - wget https://releases.hashicorp.com/consul/0.6.4/consul_0.6.4_linux_amd64.zip
  - unzip consul_0.6.4_linux_amd64.zip
  - ./consul agent -dev -bind=127.0.0.1 &
  # Set up Neo4j
  - sudo docker pull neo4j
  - sudo docker run -d --publish=7474:7474 --publish=7687:7687 --env=NEO4J_AUTH=none --volume=$HOME/neo4j/data:/data neo4j
  # Populate Consul Configuration variables
  - cd $TRAVIS_BUILD_DIR/scripts/linux && ./populate_consul.sh
  # Clone the repository for the python tests
  - cd $TRAVIS_BUILD_DIR
  - git clone https://github.com/AO-StreetArt/CrazyIvan_ProtoBufferTests.git
  # Compile the protocol buffer class for use with the Python tests
  - protoc -I=/usr/local/include/dvs_interface --python_out=CrazyIvan_ProtoBufferTests/src/ /usr/local/include/dvs_interface/Scene.proto
script:
  # Wait for some time to allow the docker instance to finish building
  - cd $TRAVIS_BUILD_DIR/scripts/linux && ./wait.sh
  # Start Crazy Ivan
  - ./run_docker_instance.sh $TRAVIS_BRANCH localhost:8500 localhost 5555
  # Execute the Python Tests
  - cd $TRAVIS_BUILD_DIR/CrazyIvan_ProtoBufferTests && ./run_tests.sh
