[Unit]
Description=Crazy Ivan Scene Tracking Service

[Service]
User=crazyivan
Group=crazyivan
ExecStart=/usr/local/bin/crazy_ivan consul=localhost:8500 props=/etc/crazyivan/ivan.properties

[Install]
WantedBy=multi-user.target
